<section class="grid place-items-center" [ngSwitch]="verificationStatus">

  <div class="w-fit mt-20 bg-slate-200 p-4 rounded dark:bg-slate-700" *ngSwitchCase="'verified'">
    <h1 class="text-5xl font-bold text-core-primary text-center dark:text-core-primary-400">Felicidades</h1>

    <p class="dark:text-slate-300">
      Tu correo ha sido verificado. Ahora puedes <a class="underline text-core-secondary dark:text-core-secondary-300" routerLink="/auth/sign-in">iniciar sesión</a>.
    </p>
  </div>

  <div class="w-fit mt-20 bg-slate-200 p-4 rounded dark:bg-slate-700" *ngSwitchCase="'verifying'">
    <h1 class="text-5xl font-bold text-slate-700 text-center dark:text-slate-400">Verificando token</h1>

    <p class="dark:text-slate-300">
      Espera un momento mientras verificamos tu token.
    </p>

    <mat-spinner class="size-10 mx-auto"></mat-spinner>
  </div>

  <div class="w-fit mt-20 bg-slate-200 p-4 rounded dark:bg-slate-700" *ngSwitchCase="'error'">
    <h1 class="text-5xl font-bold text-red-600 text-center dark:text-red-400">Token inválido</h1>

    <p class="dark:text-slate-300">
      Tu token es inválido. Por favor vuelve a pedir un nuevo correo de verificación.
    </p>

    <email-resend-form></email-resend-form>
  </div>
</section>
