<form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="mb-5 w-full">
    <mat-label>Contraseña actual</mat-label>
    <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="currentPassword">
    <button type="button" mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPassword">
      <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    @if (currentPassword.hasError('required')) {
      <mat-error>Es necesaria la contraseña</mat-error>
    }
    @if (currentPassword.hasError('incorrectPassword')) {
      <mat-error>La contraseña es incorrecta</mat-error>
    }
  </mat-form-field>
  <mat-form-field class="mb-5 w-full">
    <mat-label>Nueva contraseña</mat-label>
    <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword">
    <button type="button" mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
      <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    @if (newPassword.hasError('required')) {
      <mat-error>Es necesaria la contraseña</mat-error>
    }
    @if (newPassword.hasError('containsLetters')) {
      <mat-error>La contraseña debe incluir letras</mat-error>
    }
    @if (newPassword.hasError('containsCapitalLetter')) {
      <mat-error>La contraseña debe incluir una letra mayúscula</mat-error>
    }
    @if (newPassword.hasError('containsSpecialCharacters')) {
      <mat-error>La contraseña debe incluir caracteres especiales: &#64;#!$&</mat-error>
    }
    @if (newPassword.hasError('minlength')) {
      <mat-error>La contraseña debe 6 caracteres o más</mat-error>
    }
  </mat-form-field>
  <mat-form-field class="mb-5 w-full">
    <mat-label>Confirmar nueva contraseña</mat-label>
    <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
    <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
      <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    @if (confirmPassword.hasError('required')) {
      <mat-error>La confirmación es necesaria</mat-error>
    }
    @if (confirmPassword.hasError('notEqual')) {
      <mat-error>La contraseña no coincide</mat-error>
    }
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary" class="w-full" [disabled]="isSubmitting">
    <mat-icon>key</mat-icon>
    {{ isSubmitting ? 'Actualizando' : 'Actualizar contraseña' }}
    @if (isSubmitting) {
      <mat-spinner class="size-3 inline-block"></mat-spinner>
    }
  </button>
</form>
