<section class="home">
  <main
    class="grid grid-cols-1 md:grid-cols-2 justify-between items-center min-h-screen container-limited"
  >
    <div
      class="space-y-6 flex flex-col items-center md:items-start text-center md:text-left"
    >
      <div
        class="inline-block bg-core-primary/10 text-core-primary px-4 py-2 rounded-full text-sm font-medium"
      >
        Control de asistencia simplificado
      </div>
      <h1 class="text-4xl md:text-6xl font-bold tracking-tight">
        <span class="text-core-primary text-4xl md:text-6xl font-bold">
          ASIST</span
        >.IO
      </h1>
      <p class="text-xl text-muted-foreground max-w-md">
        La aplicación perfecta para profesores que quieren llevar un control de
        la asistencia de sus alumnos de una manera sencilla, rápida y eficiente.
      </p>
      <button
        class="bg-core-primary hover:bg-core-primary-600 text-white py-3 px-6 rounded-md font-semibold text-lg"
      >
        Empezar a usar
      </button>
      <div class="flex flex-col md:flex-row gap-3 p-4 mb-4">
        <div class="flex items-center gap-1">
          <mat-icon class="text-core-primary">check_circle</mat-icon>
          <span class="text-sm">Fácil de usar</span>
        </div>
        <div class="flex items-center gap-1">
          <mat-icon class="text-core-primary">check_circle</mat-icon>
          <span class="text-sm">Sin instalación</span>
        </div>
        <div class="flex items-center gap-1">
          <mat-icon class="text-core-primary">check_circle</mat-icon>
          <span class="text-sm">Accesible desde cualquier lugar</span>
        </div>
      </div>
    </div>
    <div class="relative">
      <div
        class="absolute -z-10 inset-0 bg-core-primary/10 rounded-3xl transform rotate-3"
      ></div>
      <div class="bg-core-primary rounded-3xl p-8 shadow-xl">
        <div class="bg-white/10 p-6 rounded-2xl backdrop-blur-sm">
          <div class="flex justify-between items-center gap-10 lg:gap-36 mb-6">
            <h3 class="text-xl font-semibold text-white mb-0">
              Clase: Matemáticas
            </h3>
            <span class="text-white/80 text-sm">Hoy, 10:30 AM</span>
          </div>
          <div class="space-y-4">
            <div
              class="flex items-center justify-between p-3 bg-white/5 rounded-lg"
              *ngFor="let student of studentList"
            >
              <span class="text-white">{{ student.name }}</span>
              <span
                class="px-2 py-1 rounded-full text-xs"
                [ngClass]="{
                  'bg-green-500/20 text-green-200': student.present,
                  'bg-red-500/20 text-red-200': !student.present
                }"
              >
                {{ student.present ? "Presente" : "Ausente" }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <article class="py-20 bg-core-primary/5">
    <div class="container-limited">
      <div class="text-center max-w-3xl mx-auto mb-16">
        <h2 class="text-core-primary text-3xl font-bold mb-4">
          ¿Por qué elegir ASIST.IO?
        </h2>
        <p class="text-muted-foreground">
          Diseñado específicamente para satisfacer las necesidades de los
          educadores modernos
        </p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div
          class="bg-white dark:bg-gray-800 p-8 rounded-xl shadow-sm border border-gray-100 dark:border-gray-700"
          *ngFor="let feature of features"
        >
          <div
            class="bg-core-primary/10 text-core-primary p-3 rounded-lg flex items-center justify-center w-fit mb-6"
          >
            <mat-icon class="text-5xl size-auto">
              {{ feature.icon }}
            </mat-icon>
          </div>
          <h3 class="text-xl text-black font-semibold mb-3">
            {{ feature.title }}
          </h3>
          <p class="text-muted-foreground">{{ feature.description }}</p>
        </div>
      </div>
    </div>
  </article>
  <article class="py-20 container-limited">
    <div class="container mx-auto px-4 md:px-6">
      <div
        class="bg-core-primary rounded-3xl p-8 md:p-12 text-center text-white"
      >
        <h2 class="text-3xl md:text-4xl font-bold mb-4">
          Comienza a usar ASIST.IO hoy mismo
        </h2>
        <p class="max-w-2xl mx-auto mb-8">
          Únete a miles de educadores que ya están simplificando su gestión de
          asistencia con nuestra plataforma
        </p>
        <a
          class="bg-white text-core-primary px-4 py-3 rounded-md font-bold hover:bg-gray-100"
          routerLink="/auth/sign-up"
        >
          Empezar gratis
        </a>
      </div>
    </div>
  </article>
  <article class="py-20 bg-core-primary/5">
    <div class="container mx-auto px-4 md:px-6">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
        <div class="order-2 md:order-1 relative">
          <div
            class="absolute -z-10 inset-0 bg-core-primary/10 rounded-3xl transform -rotate-3"
          ></div>
          <div class="bg-core-primary rounded-3xl p-8 shadow-xl">
            <div class="bg-white/10 p-6 rounded-2xl backdrop-blur-sm">
              <div
                class="bg-white/15 text-white font-semibold text-xl p-3 rounded-full w-fit mb-20 mx-auto -rotate-45 origin-center mt-20"
              >
                Proximamente
              </div>
            </div>
          </div>
        </div>
        <div class="order-1 md:order-2 space-y-6">
          <div
            class="bg-core-primary w-fit text-white rounded-full border px-2.5 py-0.5 text-xs font-semibold hover:bg-primary/80"
          >
            App Móvil
          </div>
          <h2 class="text-3xl font-bold">
            Lleva el control de asistencia en tu bolsillo
          </h2>
          <p class="text-muted-foreground">
            Nuestra aplicación móvil te permite gestionar la asistencia desde
            cualquier lugar, en cualquier momento. Disponible para iOS y
            Android.
          </p>
          <ul class="space-y-4">
            <li class="flex items-center gap-2">
              <mat-icon class="text-core-primary">check_circle</mat-icon>
              <span>Registro de asistencia con un toque</span>
            </li>
            <li class="flex items-center gap-2">
              <mat-icon class="text-core-primary">check_circle</mat-icon>
              <span>Notificaciones en tiempo real</span>
            </li>
            <li class="flex items-center gap-2">
              <mat-icon class="text-core-primary">check_circle</mat-icon>
              <span>Escaneo de códigos QR</span>
            </li>
          </ul>
          <div class="flex flex-col sm:flex-row gap-4 pt-4">
            <button
              class="inline-flex items-center justify-center gap-2 rounded-md text-sm font-medium px-4 py-2 bg-black hover:bg-gray-800 text-white"
            >
              <img
                class="size-4"
                src="assets/svg/google.svg"
                alt="Google icon"
              />
              Google Play
            </button>

            <button
              class="inline-flex items-center justify-center gap-2 rounded-md text-sm font-medium px-4 py-2 bg-black hover:bg-gray-800 text-white"
            >
              <img class="size-4" src="assets/svg/apple.svg" alt="Apple icon" />
              App Store
            </button>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
<shared-footer></shared-footer>
