<section class="home">
  <main class="banner flex flex-column align-items-center justify-content-center min-h-screen">
    <h1 class="text-8xl">ASIST.IO</h1>
    <p class="text-center">Es la aplicación perfecta para profesores que quieren <br> llevar un control de la asistencia de sus alumnos de <br> una manera sencilla, rapida y eficiente.</p>
    <a routerLink="/auth/sign-up"><button>Empeza a usar</button></a>
  </main>
  <article class="how-works p-3 md:p-8 min-h-screen">
    <h2 class="text-5xl">¿Cómo funciona?</h2>
    <p>Asist.io llegó para facilitar tu clase a la hora de tomar asistencia.</p>
    <p>
      Creá tu curso, cargá la lista de estudiantes y generá el link de asistencia. Tus alumnos podrán registrar su asistencia introduciendo su libreta universitaria
      en el formulario de asistencia. Al finalizar la clase podrás pedir el informe y descargarlo, el informe contiene la libreta universitaria, nombres y apellidos del alumno,
      hora en la que se registró la asistencia y la fecha del informe.
    </p>
    <div class="fast-guide grid align-items-stretch gap-3 mt-8 pt-4">
      <step-card class="sm:col-12 lg:col-4 xl:col-2 flex-grow-1 align-self-stretch mb-6" [step]="step" *ngFor="let step of stepCardItems"></step-card>
    </div>
  </article>
  <hr>
  <article class="benefits p-3 md:p-8 min-h-screen">
    <h2 class="text-5xl">Beneficios de usar ASIST.IO</h2>
    <ul class="grid gap-3">
      <li class="sm:col-12 lg:col-3 flex-grow-1 flex align-items-center surface-100 gap-2" *ngFor="let benefit of benefitsItems">
        <mat-icon class="text-green-500">{{ benefit.icon }}</mat-icon>
        <span>{{ benefit.label }}</span>
      </li>
    </ul>
    <div class="grid gap-3 mt-8 pt-6">
      <div class="surface-50 flex flex-column justify-content-between align-items-center col-12 lg:col-2 flex-grow-1 border-round-3xl p-2 py-4" *ngFor="let featBenefit of featureBenefits">
        <mat-icon class="w-auto h-max text-8xl text-indigo-500">{{ featBenefit.icon }}</mat-icon>
        <p class="text-2xl">{{ featBenefit.label }}</p>
      </div>
    </div>
  </article>
  <article class="get-started p-3 md:p-8 min-h-screen">
    <div class="content">
      <h2 class="text-5xl">¿Cómo empiezo?</h2>
      <p class="text-white">De manera rápida podes empezar siguiendo estos pasos:</p>
      <div class="steper mt-8">
        <div class="step flex flex-row gap-5">
          <div class="icon flex flex-column align-items-center">
            <div class="circle"></div>
            <div class="line"></div>
          </div>
          <div class="description">
            <h3>Crea tu cuenta</h3>
            <p><a class="underline text-white" routerLink="/auth/sign-up">Registrate</a> o <a class="underline text-white" routerLink="/auth/sign-in">inicia sesión</a> para abrir el dashboard.</p>
          </div>
        </div>
        <div class="step flex flex-row gap-5">
          <div class="icon flex flex-column align-items-center">
            <div class="circle"></div>
            <div class="line"></div>
          </div>
          <div class="description">
            <h3>Leé las guías</h3>
            <p>Podrás encontrar diferentes guías para que te familiarices con el sistema.</p>
          </div>
        </div>
        <div class="step flex flex-row gap-5">
          <div class="icon flex flex-column align-items-center">
            <div class="circle"></div>
          </div>
          <div class="description">
            <h3>Creá tu primer curso</h3>
            <p>Y empezá a simplificar tus clases.</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
