<div class="p-2">
  <div class="link-configuration my-3">
    <p class="bg-slate-100 dark:bg-slate-600 rounded p-2">
      <small class="text-core-primary dark:text-core-primary-400">Código de asistencia</small>
      <br>
      <span class="text-3xl">{{ course.attendanceCode ? (course.attendanceCode) : 'No existe el link aún' }}</span>
    </p>
    <div class="buttons flex gap-2">
      <button mat-flat-button color="primary" (click)="showQRCode()" *ngIf="course.attendanceCode">Mostrar QR</button>
      <button mat-button color="primary" (click)="onChangeAttendanceCode()">{{ course.attendanceCode ? 'Cambiar link' : 'Generar link' }}</button>
    </div>
    <div class="w-fit bg-slate-500 p-3 my-4 rounded" *ngIf="seeQRCode">
      <qr-code
        [value]="qrCodeUrl + course.attendanceCode"
        errorCorrectionLevel="M"
        darkColor="#333"
        [margin]="0"
      ></qr-code>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="assistance-report my-3">
    <p>Aún no hay registros</p>
  </div>
  <mat-divider></mat-divider>
  <div class="actions my-3">
    <button mat-button color="primary">
      <mat-icon>download</mat-icon>
      Descargar asistencia
    </button>
  </div>
</div>
