<div class="table-placeholder p-3">
  <div class="column-placeholder grid">
    <p-skeleton class="col" height="2rem" width="18rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton class="col" height="2rem" width="18rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton class="col" height="2rem" width="18rem" styleClass="mb-2"></p-skeleton>
  </div>
  <div class="row-placeholder grid">
    <div class="col">
      <p-skeleton height="1.5rem" width="14rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="1.5rem" width="14rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="1.5rem" width="14rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="1.5rem" width="14rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="1.5rem" width="14rem" styleClass="mb-2"></p-skeleton>
    </div>
    <div class="col">
      <p-skeleton height="1.5rem" width="14rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="1.5rem" width="14rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="1.5rem" width="14rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="1.5rem" width="14rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="1.5rem" width="14rem" styleClass="mb-2"></p-skeleton>
    </div>
    <div class="col">
      <p-skeleton height="1.5rem" width="14rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="1.5rem" width="14rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="1.5rem" width="14rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="1.5rem" width="14rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="1.5rem" width="14rem" styleClass="mb-2"></p-skeleton>
    </div>
  </div>
</div>
