<mat-card class="flex flex-column justify-content-between h-full">
  <div>
    <mat-card-header>
      <mat-card-title> {{course.title}} </mat-card-title>
      <mat-card-subtitle> {{course.universityProgram}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mt-2">
      <p class="max-h-4rem overflow-auto">
        <strong>Descripción: </strong>
        {{ course.description }}
      </p>
      <mat-chip-listbox *ngIf="course.students">
        <mat-chip color="primary">
          {{ course.students.length }} estudiantes
        </mat-chip>
      </mat-chip-listbox>
    </mat-card-content>
  </div>

  <!-- <mat-divider></mat-divider> -->

  <mat-card-actions class="border border-top-1 surface-border">
    <button mat-button mat-raised color="primary" [routerLink]="['/dashboard/course/', course.id]">
      <mat-icon>visibility</mat-icon>
      Ver curso
    </button>
    <span class="spacer"></span>
    <button mat-button mat-raised [routerLink]="[]">
      <mat-icon>more_horiz</mat-icon>
      Más
    </button>
  </mat-card-actions>
</mat-card>
