<section class="course-details flex flex-column">
  <article class="info-not-available mb-5" *ngIf="!course">
    <h2>Información no disponible</h2>
    <mat-card class="border-2 border-primary-200 bg-blue-100">
      <mat-card-content>
        <p class="text-center text-primary text-lg">La información del curso no está disponible.</p>
        <p class="text-center text-primary text-lg">Por favor, intenta más tarde.</p>
      </mat-card-content>
    </mat-card>
  </article>
  <article class="about" *ngIf="course">
    <h2> {{course.title}} </h2>
    <div class="bg-white border-round border-500 shadow-2 p-3">
      <mat-tab-group>
        <mat-tab label="Alumnos">
          <course-student-list [students]="course.students"></course-student-list>
        </mat-tab>
        <mat-tab label="Asistencia del día">
          <course-assistance-view></course-assistance-view>
        </mat-tab>
        <mat-tab label="Opciones">
          <course-settings></course-settings>
        </mat-tab>
      </mat-tab-group>
    </div>
  </article>
</section>
