<section class="form flex flex-column align-items-center justify-content-center w-full">
  <h2>Iniciar sesión</h2>
  <form [formGroup]="signInForm" class="w-full max-w-30rem" (ngSubmit)="login()">
    <div>
      <mat-form-field class="w-full mb-1">
        <mat-label>Ingresa tu email</mat-label>
        <input matInput placeholder="pat@example.com" name="email" id="email" formControlName="email" required>
        <mat-error *ngIf="Email?.hasError('required')">Es necesario el email</mat-error>
        <mat-error *ngIf="Email?.hasError('email')">El formato no es correcto</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-full mb-1">
        <mat-label>Ingresa tu contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" name="password" id="password" formControlName="password">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="Password?.hasError('required')">Es necesaria la contraseña</mat-error>
      </mat-form-field>
    </div>
    <button type="submit" mat-flat-button color="primary" class="w-full mt-2">
      <mat-icon>login</mat-icon>
      Iniciar sesión
    </button>
  </form>
</section>
