<section class="acoount flex flex-col">
  <article class="loading-layout bg-white rounded border-slate-400 shadow p-3" *ngIf="!user; else userInfo">
    <basic-card-placeholder></basic-card-placeholder>
    <basic-card-placeholder></basic-card-placeholder>
    <basic-card-placeholder></basic-card-placeholder>
  </article>
  <ng-template #userInfo>
    <article class="about-me mb-5">
      <h2 class="text-core-primary dark:text-core-primary-400">Mis datos</h2>
      <mat-card class="dark:bg-slate-700">
        <mat-card-content>
            <div class="flex items-center mt-1 text-slate-600 dark:text-slate-300"><mat-icon class="text-sm">person</mat-icon> <span>{{user?.lastname}}, {{ user?.name }}</span></div>
            <div class="flex items-center mt-1 text-slate-600 dark:text-slate-300"><mat-icon class="text-sm">mail</mat-icon> <span>{{ user?.email }}</span></div>
        </mat-card-content>
      </mat-card>
    </article>
    <article class="danger-zone mb-5">
      <h2 class="text-red-600 dark:text-red-400">Zona de peligro</h2>
      <div class="border-[1px] border-red-600 rounded dark:border-red-400">
        <mat-card class="dark:bg-slate-700">
          <mat-card-header>
            <mat-card-title class="text-red-600 dark:text-red-300">Eliminar cuenta</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="dark:text-slate-300">Si eliminas tu cuenta, no podrás recuperarla.</p>
            <button mat-stroked-button color="warn" (click)="deleteAccount()">Eliminar cuenta</button>
            <div class="flex items-center mt-2 dark:text-slate-300"><mat-icon class="text-sm text-blue-500">info</mat-icon> <span>Tu cuenta es gratis. No tiene costo de mantenimiento.</span></div>
          </mat-card-content>
        </mat-card>
      </div>
    </article>
  </ng-template>
</section>
