<section class="acoount flex flex-column">
  <article class="loading-layout bg-white border-round border-500 shadow-2 p-3" *ngIf="!user; else userInfo">
    <basic-card-placeholder></basic-card-placeholder>
    <basic-card-placeholder></basic-card-placeholder>
    <basic-card-placeholder></basic-card-placeholder>
  </article>
  <ng-template #userInfo>
    <article class="about-me mb-5">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="text-indigo-600">Datos personales</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="flex align-items-center"><mat-icon class="text-500 text-xl">person</mat-icon> {{user?.lastname}}, {{ user?.name }}</p>
            <p class="flex align-items-center"><mat-icon class="text-500 text-xl">mail</mat-icon> {{ user?.email }}</p>
        </mat-card-content>
      </mat-card>
    </article>
    <article class="danger-zone mb-5">
      <h2 class="text-red-500">Zona de peligro</h2>
      <div class="border-1 border-red-500 border-round">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="text-red-500">Eliminar cuenta</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Si eliminas tu cuenta, no podrás recuperarla.</p>
            <button mat-flat-button color="warn" (click)="deleteAccount()">Eliminar cuenta</button>
            <p class="flex align-items-center mt-2"><mat-icon class="text-xl text-primary">info</mat-icon>Tu cuenta es gratis. No tiene costo de mantenimiento.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </article>
  </ng-template>
</section>
