<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="mb-5 w-full">
    <mat-label>Nueva contraseña</mat-label>
    <input matInput [type]="hidePasswordFieldOne ? 'password' : 'text'" formControlName="passwordOne">
    <button type="button" mat-icon-button matSuffix (click)="hidePasswordFieldOne = !hidePasswordFieldOne">
      <mat-icon>{{hidePasswordFieldOne ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    @if (passwordOne.hasError('required')) {
      <mat-error>Es necesaria la contraseña</mat-error>
    }
    @if (passwordOne.hasError('containsLetters')) {
      <mat-error>La contraseña debe incluir letras</mat-error>
    }
    @if (passwordOne.hasError('containsCapitalLetter')) {
      <mat-error>La contraseña debe incluir una letra mayúscula</mat-error>
    }
    @if (passwordOne.hasError('containsSpecialCharacters')) {
      <mat-error>La contraseña debe incluir caracteres especiales: &#64;#!$&</mat-error>
    }
    @if (passwordOne.hasError('minlength')) {
      <mat-error>La contraseña debe 6 caracteres o más</mat-error>
    }
  </mat-form-field>
  <mat-form-field class="mb-4 w-full">
    <mat-label>Confirmar contraseña</mat-label>
    <input matInput [type]="hidePasswordFieldTwo ? 'password' : 'text'" formControlName="passwordTwo">
    <button type="button" mat-icon-button matSuffix (click)="hidePasswordFieldTwo = !hidePasswordFieldTwo">
      <mat-icon>{{hidePasswordFieldTwo ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    @if (passwordTwo.hasError('required')) {
      <mat-error>La confirmación es necesaria</mat-error>
    }
    @if (passwordTwo.hasError('notEqual')) {
      <mat-error>La contraseña no coincide</mat-error>
    }
  </mat-form-field>
  <button class="mx-auto block" type="submit" mat-flat-button color="primary" [disabled]="isSubmitting">
    <mat-icon>key</mat-icon>
    {{ isSubmitting ? 'Realizando cambio de contraseña' : 'Confirmar cambio de contraseña'}}
    <mat-spinner class="size-3 inline-block"></mat-spinner>
  </button>
</form>
