<section class="guias flex">
  <article class="guia surface-200 p-3 border-round-xl flex flex-column align-items-center" (click)="introduction = !introduction">
    <mat-icon class="text-8xl text-500 w-auto h-max">home</mat-icon>
    <h2 class="text-indigo-600">Introducción</h2>
    <p>En esta guía encontrarás una rápida introducción al software.</p>
  </article>
  <article class="guia surface-200 p-3 border-round-xl flex flex-column align-items-center" (click)="students = !students">
    <mat-icon class="text-8xl text-500 w-auto h-max">groups</mat-icon>
    <h2 class="text-indigo-600">Listado de alumnos</h2>
    <p>En esta guía encontrarás una rápida introducción al software.</p>
  </article>
  <article class="guia surface-200 p-3 border-round-xl flex flex-column align-items-center" (click)="attendance = !attendance">
    <mat-icon class="text-8xl text-500 w-auto h-max">how_to_reg</mat-icon>
    <h2 class="text-indigo-600">Asistencia</h2>
    <p>En esta guía encontrarás una rápida introducción al software.</p>
  </article>
</section>

<getting-started-guide-dialog [introduction]="introduction"></getting-started-guide-dialog>
<students-list-guide-dialog [students]="students"></students-list-guide-dialog>
<attendance-guide-dialog [attendance]="attendance"></attendance-guide-dialog>
