<section class="guias">
  <article class="guia bg-slate-200 p-3 rounded-xl flex flex-col items-center dark:bg-slate-700" (click)="introduction = !introduction">
    <mat-icon class="text-8xl text-slate-500 w-auto h-max dark:text-slate-400">home</mat-icon>
    <h2 class="text-core-primary dark:text-white">Introducción</h2>
    <p class="dark:text-slate-200">En esta guía encontrarás una rápida introducción al software.</p>
  </article>
  <article class="guia bg-slate-200 p-3 rounded-xl flex flex-col items-center dark:bg-slate-700" (click)="students = !students">
    <mat-icon class="text-8xl text-slate-500 w-auto h-max dark:text-slate-400">groups</mat-icon>
    <h2 class="text-core-primary dark:text-white">Listado de alumnos</h2>
    <p class="dark:text-slate-200">En esta guía encontrarás una rápida introducción al software.</p>
  </article>
  <article class="guia bg-slate-200 p-3 rounded-xl flex flex-col items-center dark:bg-slate-700" (click)="attendance = !attendance">
    <mat-icon class="text-8xl text-slate-500 w-auto h-max dark:text-slate-400">how_to_reg</mat-icon>
    <h2 class="text-core-primary dark:text-white">Asistencia</h2>
    <p class="dark:text-slate-200">En esta guía encontrarás una rápida introducción al software.</p>
  </article>
</section>

<getting-started-guide-dialog [introduction]="introduction"></getting-started-guide-dialog>
<students-list-guide-dialog [students]="students"></students-list-guide-dialog>
<attendance-guide-dialog [attendance]="attendance"></attendance-guide-dialog>
