<h2 class="text-core-primary font-bold dark:text-core-primary-400" mat-dialog-title>Introduce tu contraseña para continuar</h2>
<mat-dialog-content>
  <p>¿Estás seguro de eliminar tu cuenta? <strong class="text-core-secondary dark:text-core-secondary-400">No podrás recuperarla</strong>.</p>
  <p class="mt-5">Introduce tu contraseña para confirmar la eliminación de tu cuenta.</p>
  <form>
    <mat-form-field class="w-full mb-5">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="password">
      <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      @if (password.hasError('required')) {
        <mat-error>La contraseña es requerida</mat-error>
      }
      @if (password.hasError('incorrect')) {
        <mat-error>La contraseña es incorrecta</mat-error>
      }
    </mat-form-field>
    @if (!loading) {
      <div class="flex gap-3">
        <button type="button" mat-button color="warn" (click)="onConfirm()">Estoy seguro de eliminar mi cuenta</button>
        <button type="button" mat-flat-button color="primary" cdkFocusInitial (click)="onNoClick()">Conservar mi cuenta</button>
      </div>
    }
    @if (loading) {
      <mat-spinner class="block size-6 mx-auto"></mat-spinner>
    }
  </form>
</mat-dialog-content>
