<p-dialog header="Control de asistencia" [(visible)]="attendance" [modal]="true" [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <h2 class="text-indigo-600">¿Cómo funciona?</h2>
  <p>
    Cada materia tendrá un <strong>link de asistencia</strong> para que cada alumno <strong>ingrese</strong> a dicho link e <strong>ingrese</strong> sus datos
    personales en un formulario que tendrá que enviar.
  </p>
  <p>
    Una vez que el alumno haya completado el formulario, el docente podrá ver la lista de
    alumnos que se encuentran en clase.
  </p>
  <h2 class="text-indigo-600">¿Cómo activo la asistencia?</h2>
  <p>
    Para activar la asistencia, el docente deberá ingresar a la materia que desea tomar asistencia, en la sección de <strong>opciones</strong>, y hacer click en el botón <strong>Activar asistencia</strong>.
  </p>
  <p>
    Una vez que el docente haya activado la asistencia, el alumno podrá ingresar al link de asistencia y completar el formulario.
  </p>
  <p>
    El link de asistencia se encuentra en la sección de <strong>asistencia del día</strong> de cada materia.
  </p>
</p-dialog>
