<mat-form-field class="w-full">
  <mat-label>Buscar curso</mat-label>
  <input
    type="text"
    matInput
    [formControl]="searchInput"
    [matAutocomplete]="auto"
    (keyup)="onKeyUp(searchInput.value || '')"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="onSelectedOption($event)"
      >
      @for (course of suggestedCourses; track course) {
        <mat-option [value]="course">
          {{ course.nombre }}
        </mat-option>
      }
      @if (status === 'no content') {
        <mat-option disabled value="">
          No se encontró nada con el término '{{ searchInput.value }}'
        </mat-option>
      }
      @if (status === 'pending') {
        <mat-option disabled value="">
          <div class="flex items-center gap-3">
            Buscando coincidencias
            <mat-spinner class="size-4"></mat-spinner>
          </div>
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
