<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav [mode]="mode" opened="true" class="border-round-right-3xl bg-indigo-600" [ngStyle]="{width: '250px', border: 'none'}">
    <mat-toolbar color="primary">
      <span class="text-3xl">Menú</span>
      <!-- <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button> -->
    </mat-toolbar>
    <mat-nav-list *ngFor="let itemGroup of sidebarItems" class="border-round-right-3xl">
      <mat-list-item *ngFor="let item of itemGroup"  [routerLink]="item.url" (click)="mode == 'over' ? sidenav.toggle() : null">
        <mat-icon matListItemIcon class="text-white">{{ item.icon }}</mat-icon>
        <span class="text-white">{{ item.label }}</span>
      </mat-list-item>
      <mat-divider class="bg-white"></mat-divider>
    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar class="m-3 border-round-xl w-auto">
    <nav class="flex justify-content-between w-full align-items-center">
      <div class="flex align-items-center gap-3">
        <button mat-icon-button color="primary" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="text-3xl">{{ title }}</h1>
      </div>
      <button mat-flat-button color="primary" (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        Logout
      </button>

    </nav>
  </mat-toolbar>

  <div class="container-limited p-6">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
