<div class="grid grid-cols-1 md:grid-cols-3 gap-3">
  <p class="text-center text-slate-400 font-bold" *ngIf="schedules.length <= 0">
    No hay horarios registrados
  </p>
  <div
    class="bg-core-primary-500/10 border-core-primary border dark:bg-slate-700 dark:border-slate-900 p-3 rounded-md"
    *ngFor="let schedule of schedules"
  >
    <h5
      class="text-xs font-semibold text-core-primary dark:text-core-primary-400 mb-2"
    >
      {{ schedule.dia }}
    </h5>
    <span
      class="block text-base text-core-primary dark:text-core-primary-400 mb-3"
      >{{ schedule.entrada }} - {{ schedule.salida }}</span
    >
    <button
      class="text-xs"
      mat-button
      color="primary"
      (click)="deleteSchedule(schedule.horarioId)"
    >
      <mat-icon>delete</mat-icon>
      Eliminar
    </button>
  </div>
</div>
