<div class="container-limited h-screen flex flex-col justify-center">
  <div>
    <h1 class="text-5xl text-center text-core-primary font-bold">Registrar asistencia</h1>
    <nav class="flex flex-col md:flex-row gap-3 justify-center items-center">
      <a class="p-2 bg-core-primary-100 text-core-primary font-bold rounded">Introducir código de asistencia</a>
      <a class="p-2 bg-core-secondary-100 text-core-secondary font-bold rounded">Ver mi historial de asistencia</a>
    </nav>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
