<p-dialog header="Alumnos" [(visible)]="students" [modal]="true" [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <h2 class="text-indigo-600">Listado de alumnos</h2>
  <p>Cada materia tendrá asignada su propio listado de alumnos y aquí te explicaremos como cargar tu listado de alumnos.</p>
  <p>Para subir tu listado de alumnos debes de seguir los siguientes pasos:</p>
  <ul class="ml-5">
    <li>Primero creá una materia.</li>
    <li>Una vez creada, haz click en <strong>ver curso</strong>.</li>
    <li>Dirigete a la pestaña de <strong>opciones</strong>.</li>
    <li>En la sección de <strong>listado</strong>, haz click en el botón <strong>subir csv</strong>.</li>
  </ul>
</p-dialog>
