<mat-list>
  <mat-list-item>
    <div class="flex justify-content-between align-items-center">
      Cambiar los datos actuales del curso
      <button mat-button color="warn" (click)="onEditCourse()">
        <mat-icon>edit</mat-icon>
        Editar datos del curso
      </button>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <div class="flex justify-content-between align-items-center">
      Eliminar curso
      <button mat-button color="warn" (click)="onDeleteCourse()">
        <mat-icon>warning</mat-icon>
        Cerrar curso
      </button>
    </div>
  </mat-list-item>
 </mat-list>
