<div class="flex justify-end items-center my-2">
  <button mat-button (click)="getStudentsAttendance()">
    <span>Actualizar</span>
    <mat-icon matTooltip="Actualizar los datos de la tabla de asistencia"
      >refresh</mat-icon
      >
    </button>
  </div>
  @if (attendances.length != 0 && !isLoading) {
    <table mat-table [dataSource]="attendances">
      <ng-container matColumnDef="fullName">
        <th
          class="text-core-primary dark:text-core-primary-200 font-bold"
          mat-header-cell
          *matHeaderCellDef
          >
          NOMBRE COMPLETO
        </th>
        <td mat-cell *matCellDef="let element">{{ element[0] }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th
          class="text-core-primary dark:text-core-primary-200 font-bold"
          mat-header-cell
          *matHeaderCellDef
          >
          ASISTENCIA
        </th>
        <td mat-cell *matCellDef="let element">
          @if (element[1]) {
            <mat-icon class="text-green-500 dark:text-green-400"
              >check_circle</mat-icon
              >
            }
            @if (!element[1]) {
              <mat-icon class="text-red-500 dark:text-red-400"
                >cancel</mat-icon
                >
              }
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      }

      @if (attendances.length == 0 && !isLoading) {
        <p class="text-center">Aún no hay registros de asistencia</p>
      }

      @if (isLoading) {
        <shared-loader class="my-3" size="16px" />
      }
