<div class="loading-layout" *ngIf="isLoading; else coursesList">
  <card-placeholder></card-placeholder>
  <card-placeholder></card-placeholder>
  <card-placeholder></card-placeholder>
</div>
<ng-template #coursesList>
  <div class="courses">
    <course-search-box></course-search-box>
    <div class="actions mb-3">
      <button mat-flat-button color="primary" routerLink="../new-course">
        <mat-icon>add</mat-icon>
        <span>Añadir curso</span>
      </button>
    </div>
    <div class="courses-list">
      <dashboard-course-card *ngFor="let course of courses" [course]="course"></dashboard-course-card>
    </div>
  </div>
</ng-template>
