<div class="flex flex-col gap-3 p-2">
  <div class="general-settings">
    <h3 class="font-bold text-core-primary dark:text-core-primary-400">Ajustes de asistencia</h3>
    <schedule-form></schedule-form>
  </div>
  <mat-divider></mat-divider>
  <div class="student-list">
    <h3 class="font-bold text-core-primary dark:text-core-primary-400">Listado</h3>
    <upload-file (onUploadFile)="onEditStudentList($event)"></upload-file>
  </div>
  <mat-divider></mat-divider>
  <div class="danger-zone">
    <h3 class="text-red-600 font-bold mb-1 dark:text-red-300">Zona de peligro</h3>
    <div class="border-[1px] rounded border-red-600 p-2 dark:text-red-300 dark:border-red-300">
      <danger-zone-options [courseId]="course.id"></danger-zone-options>
    </div>
  </div>
</div>
